<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>表单输入绑定</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://unpkg.com/vue@next"></script>
        <style type="text/css">
            .demo {
                font-family: sans-serif;
                border: 1px solid rgb(34, 145, 130);
                border-radius: 2px;
                padding: 20px 30px;
                margin-top: 1em;
                margin-bottom: 40px;
                user-select: none;
                overflow-x: auto;
                /* display: inline-flex; */
                /* align-items: center; */
                /* box-sizing: border-box; */
            }
            .text-1 {
                color:sienna;
                margin-left:10px
            }
        </style>
    </head>
    <body>
        <div id="app">

            <!-- 基本用法 -->
            <!-- 你可以用 v-model 指令在表单 <input>、<textarea> 及 <select> 元素上创建双向数据绑定。
                它会根据控件类型自动选取正确的方法来更新元素。 
            
                v-model 会忽略所有表单元素的 value、checked、selected attribute 的初始值。
                它将始终将当前活动实例的数据作为数据来源。你应该通过 JavaScript 在组件的 data 选项中声明初始值。

                v-model 在内部为不同的输入元素使用不同的 property 并抛出不同的事件：
                    1，text 和 textarea 元素使用 value property 和 input 事件；
                    2，checkbox 和 radio 使用 checked property 和 change 事件；
                    3，select 字段将 value 作为 prop 并将 change 作为事件。
            -->
            <div id = "基础用法" class="demo text-1">
                <h3>v-model双向绑定实质</h3>
                <!-- v-model 本质上不过是语法糖 -->
                v-model双向绑定:<input v-model="message" placeholder="v-model是个语法糖,注意console变化" :style="{ width:'220px' }"
                /><br>
                <br><br><br>
                <!-- 对于需要使用输入法 (如中文、日文、韩文等) 的语言，你会发现 v-model 不会在输入法组织文字过程中得到更新。
                    如果你也想响应这些更新，请使用 input 事件监听器和 value 绑定来替代 v-model。 -->
                监听中文输入内容:<input :value="message" @input="message= $event.target.value" placeholder="v-model代码本质,注意console变化" style="width:220px"
                />
                <br><br><br>
                <p>Message is: {{ message }}</p>

                <h3>多行文本(Textarea)</h3>
                <span>Multiline message is:</span>
                <p style="white-space: pre-line;">{{ message }}</p>
                <br/>
                <textarea v-model="message" placeholder="add multiple lines"></textarea>
                
                <h5>插值在 textarea 中不起作用,输入的值不会被双向绑定</h5>
                <!-- bad -->
                <textarea placeholder="add multiple lines">{{ message }}</textarea>

                <h3>复选框(Checkbox)</h3>
                <h5>1,单个复选框，绑定到布尔值</h5>
                <input type="checkbox" id="johann" v-model="johannSelected" />
                <!--属性 for element_id 规定lable与哪个表单元素绑定 
                    属性 form form_id 规定lable字段所属的一个或多个表单-->
                <label for="johann">Johann</label>    
                <br/>
                <span>singleChecked names: {{ johannSelected }}</span>

                <h5>2,单个复选框，绑定到属性值</h5>
                <input type="checkbox" id="jessie" value="Jessie" v-model="jessieSelected" />
                <label for="jessie">Jessie</label>    
                <br/>
                <span>singleChecked names: {{ jessieSelected }}</span>
                <p>只要绑定的不是一个数组，选中后的到的值就是布尔值</p>    

                <h5>3,多个复选框，绑定到同一个数组</h5>    
                <input type="checkbox" id="jack" value="Jack" v-model="multiChecked" />
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="multiChecked" />
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="multiChecked" />
                <label for="mike">Mike</label>
                <br/>
                <span>multiChecked names: {{ multiChecked }}</span>

                
                <h3>单选框(Radio)</h3>
                <input type="radio" id="picked-1" value="one" v-model="picked"/>    
                <label for="picked-1">第一项</label>
                <br>
                <input type="radio" id="picked-2" value="two" v-model="picked"/>    
                <label for="picked-2">第二项</label>
                <br>  
                <span>Picked : {{picked}}</span>   
                
                
                <h3>选择框(Selecct)</h3>
                <h5>1,选择框单选，绑定到一个值</h5>    
                <select name="单选择框" id="singleSelected" v-model="singleSelected">
                    <option disabled value="" >Please select one</option>
                    <option value="cn">中国</option>
                    <option value="us">美国</option>
                    <option value="ru">俄罗斯</option>
                    <option value="uk">英国</option>
                    <option value="fr">法国</option>
                </select>
                <br>
                <span>singleSelected : {{singleSelected}}</span>
                <!-- 如果 v-model 表达式的初始值未能匹配任何选项，<select> 元素将被渲染为“未选中”状态。
                    在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。
                    因此，更推荐像上面这样提供一个值为空的禁用选项。 -->

                <h5>2,选择框多选，绑定到一个数组</h5>    
                <select name="多选择框" id="multiSelected" v-model="multiSelected" multiple>
                    <option value="" >Please select any</option>
                    <option value="cn">中国</option>
                    <option value="us">美国</option>
                    <option value="ru">俄罗斯</option>
                    <option value="uk">英国</option>
                    <option value="fr">法国</option>
                </select>
                <br>
                <span>multiSelected : {{multiSelected}}</span>   
                
                <h5>3,用v-for渲染动态选项</h5>
                <select name="动态选择框" id="dynamicSelected" v-model="dynamicSelected">
                    <option disabled value="" >Please select one</option>
                    <option v-for="option in dynamicDatas" :key="option.id" :value="option.value" >
                        {{option.id}}:{{option.text}}
                    </option>
                </select>  
                <br>
                <span>dynamicSelected : {{dynamicSelected}}</span>
                <hr>
                <div>
                    新增元素名称：<input type="text" v-model="dynamicNewData.text">
                    <br>
                    新增元素真值：<input type="text" v-model="dynamicNewData.value">
                    <br>
                    <button @click="dynamicDatasAdd">新增动态选项</button>
                </div>
            </div>

            <div id="值绑定" class="demo" contenteditable="true">
                <p>有时我们可能想把值绑定到当前活动实例的一个动态 property 上，这时可以用 v-bind 实现，
                    此外，使用 v-bind 可以将输入值绑定到非字符串。</p>
                <h3>复选框</h3>
                <input type="checkbox" id="cvb" v-model="checkboxValueBind" true-value="yes" false-value="no"/>
                <!--属性 for element_id 规定lable与哪个表单元素绑定 
                    属性 form form_id 规定lable字段所属的一个或多个表单-->
                <label for="cvb">复选框选中与否</label>    
                <br/>
                <!--当选中时：m.checkboxValueBind === 'yes'
                    当未选中时：vm.checkboxValueBind === 'no'
                 -->
                <span>checkboxValueBind: {{ checkboxValueBind }}</span>

                <h3>单选框</h3>
                <input type="radio" id="rvb" v-model="radioValueBind" :value="'a'" />
                <label for="rvb">单选框选中与否</label>
                <br>
                <span>radioValueBind: {{ radioValueBind }}</span>

                <h3>选择框</h3>
                <span>参见上述 用v-for渲染动态选项</span>
            </div>

            <div id="修饰符" class="demo" contenteditable="true">
                <h3>修饰符</h3>
                <h5>1, '.lazy修饰符'</h5>
                <p>在默认情况下, v-model 在每次 input 事件触发后将输入框的值与数据进行同步 (除了上述输入法组织文字时)。
                    你可以添加 lazy 修饰符，从而转为在 change 事件之后进行同步</p>
                <!-- v-model 本质上不过是语法糖 -->
                注意此时只有当 input 失去焦点,触发change事件后才会再次渲染
                <br>
                <!-- 在“change”时而非“input”时更新 -->
                <input v-model.lazy="msg" placeholder="v-model是个语法糖,注意console变化" :style="{width:'220px'}" />
                <br>
                <span>msg is: {{ msg }}</span>

                <h5>2,'.number修饰符'</h5>    
                <p>如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符</p>
                <p>当输入类型为 text 时这通常很有用。如果输入类型是 number，Vue 能够自动将原始字符串转换为数字，
                    无需为 v-model 添加 .number 修饰符。如果这个值无法被 parseFloat() 解析，则返回原始的值。</p>
                <input type="text" name="age" id="age" v-model.number="age" placeholder="当前输入框的值将被转为数值类型" :style="{width:'220px'}"/>
                <br>
                <span>age is : {{age}}</span>    

                <h5>3,'.trim修饰符'</h5>
                <p>如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符</p>
                <input v-model.trim="trimMsg" placeholder="当前输入框的值将被过滤首尾空字符" :style="{width:'220px'}"/>    
                <br>
                <span>trimMsg is:{{trimMsg}}</span>  
            </div>
        </div>

        <script >
            const App = {
                data() {
                    return {
                        message:'',
                        johannSelected:false,
                        jessieSelected: '',
                        multiChecked: [],
                        picked: 'one',//设置默认选中值，不设置则为''
                        singleSelected: 'cn',//设置默认选中值，不设置则为''
                        multiSelected: [],
                        dynamicDatas: [
                            {id: 1,text:'中国',value: 'cn'},
                            {id: 2,text:'美国',value: 'us'},
                            {id: 3,text:'俄罗斯',value: 'ru'},
                            {id: 4,text:'英国',value: 'uk'},
                            {id: 5,text:'法国',value: 'fr'},
                        ],
                        dynamicSelected: '',
                        dynamicNewData:{
                            text:'',
                            value:''
                        },

                        checkboxValueBind:'',
                        radioValueBind: '',
                        a: 'a',
                        msg: '',
                        age: '',
                        trimMsg: '',
                    }
                },
                methods: {
                    dynamicDatasAdd(){
                        let newId = this.dynamicDatas.length;
                        this.dynamicDatas.unshift(
                            {id:newId,text:this.dynamicNewData.text,value:this.dynamicNewData.value}
                        );
                        this.dynamicNewData.text = '';
                        this.dynamicNewData.value = '';
                    }
                },
                mounted() {
                    
                },
                computed: {
                    
                },
                watch: {
                    message(newMsg, oldMsg) {
                        console.log(newMsg+" -- "+oldMsg);
                    },
                    selected(newMsg, oldMsg) {
                        console.log(newMsg+" -- "+oldMsg);
                    },
                    msg(newMsg, oldMsg) {
                        console.log(newMsg+" -- "+oldMsg);
                    },
                    age(newMsg, oldMsg) {
                        console.log("typeof newMsg : "+typeof newMsg);
                    },
                    
                },
            }
            const app = Vue.createApp(App);
            const vm = app.mount("#app");
        </script>
    </body>
</html>