<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>计算属性与侦听器</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <script src="https://unpkg.com/vue@next"></script>
    <!-- 因为 AJAX 库和通用工具的生态已经相当丰富，Vue 核心代码没有重复 -->
    <!-- 提供这些功能以保持精简。这也可以让你自由选择自己更熟悉的工具。 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div id="app">
        <div id="computed-basics">
            <p>Has published books:</p>
            <span>{{ author.name }}</span>
            <br />
            <!--模板中的表达式-->
            <span>{{ author.books.length > 0 ? 'Yes' : 'No' }}</span>
            <div v-if="author.books.length > 0">
                <ol>
                    <li v-for="(item, index) in author.books" :key="index">
                        {{index}}--{{item}}
                    </li>
                </ol>
            </div>
        </div>
        <hr />

        <!--
            计算属性
        -->
        <div>
            <span>{{publishedBooksMessage}}</span>
            <br>
            <span>{{calculateBooksMessage()}}</span>

            <hr>
            <span>{{ Date.now() }}</span><br> 
            <span>{{ now }}</span><br>
            <span>{{ nowDt() }}</span> <br>
            <span>{{ now2 }}</span> <br>
            <span>fullName : {{fullName}}</span><br>
            <span>firstName : {{firstName}}</span><br>
            <span>lastName : {{lastName}}</span><br>
            <button @click="setName">改名</button>
            <hr>

            <p>
                Ask a yes/no question:
                <input v-model="question" />
            </p>
            <p>answer is {{ answer }}</p>
            <a :href="imegeUrl">img</a>
        </div>
    </div>

    <script>
        const App = {
            data() {
                return {
                    author: {
                        name: "John Doe",
                        books: [
                            "Vue 2 - Advanced Guide",
                            "Vue 3 - Basic Guide",
                            "Vue 4 - The Mystery",
                            "Vue 5 - Test",
                        ],
                    },
                    //Computed property "fullName" is already defined in Data. at <App>
                    //fullName: 'Jessie Zhang',
                    lastName: 'Zhang',
                    firstName: 'Jessie',
                    question: '',
                    answer: 'Questions usually contain a question mark. ;-)',
                    imegeUrl: '',
                };
            },
            //侦听器
            watch: {
                // 每当 question 发生变化时，该函数将会执行
                question(newQuestion, oldQuestion) {
                    if (newQuestion.indexOf('?') > -1) {
                        this.getAnswer()
                    }
                },

                //注意watch与下面computed用法的对比
                // firstName上的侦听器，侦听到firstName有变化，就会执行下面的操作
                // firstName(val) {
                //     this.fullName = val + ' ~ ' + this.lastName;
                //     console.log("侦听器 firstName(val) this.fullName "+this.fullName);
                //     console.log("侦听器 firstName(val) this.firstName "+this.firstName);
                //     console.log("侦听器 firstName(val) this.lastName "+this.lastName);
                // },
                // // lastName上的侦听器，侦听到lastName有变化，就会执行下面的操作
                // lastName(val) {
                //     this.fullName = this.firstName + ' ~~ ' + val;
                //     console.log("侦听器 lastName(val) this.fullName "+this.fullName);
                //     console.log("侦听器 lastName(val) this.firstName "+this.firstName);
                //     console.log("侦听器 lastName(val) this.lastName "+this.lastName);
                // }
            },
            methods: {
                calculateBooksMessage() {
                    return this.author.books.length == 3 ? 'Yes' : 'No'
                },
                nowDt() {
                    return Date.now();
                },
                setName() {
                    console.log('即将执行 methods setName() 方法');
                    console.log("方法 setName() before this.fullName ");
                    console.log("方法 setName() before this.firstName "+this.firstName);
                    console.log("方法 setName() before this.lastName "+this.lastName);
                    this.fullName = 'Johann Zhao';
                    //this.firstName = 'Johann';
                    //this.lastName = 'Zhao'
                    console.log("方法 setName() this.fullName "+this.fullName);
                    console.log("方法 setName() this.firstName "+this.firstName);
                    console.log("方法 setName() this.lastName "+this.lastName);
                    //this.consoles();
                },
                consoles(){
                    console.log("方法 consoles() "+this.fullName);
                    console.log("方法 consoles() "+this.firstName);
                    console.log("方法 consoles() "+this.lastName);
                },
                getAnswer() {
                    this.answer = 'Thinking...'
                    axios
                        .get('https://yesno.wtf/api')
                        .then(response => {
                            this.answer = response.data.answer;
                            this.imegeUrl = response.data.image;
                        })
                        .catch(error => {
                            this.answer = 'Error! Could not reach the API. ' + error
                        })
                }
            },
            /** 
             * 对于任何包含响应式数据的复杂逻辑，你都应该使用计算属性。
             * 响应式数据，即 data中被vue接管的数据
             */
            //这里声明了一个计算属性 publishedBooksMessage
            computed: {
                // 计算属性的 getter
                publishedBooksMessage() {
                    // `this` 指向 vm 实例
                    return this.author.books.length == 3 ? "Yes" : "No";
                },
                //计算属性缓存，计算属性将基于它们的响应依赖关系缓存，计算属性只会在相关响应式依赖发生改变时重新求值
                now() {
                    return Date.now();
                },
                now2: {
                    get(){
                        return Date.now();
                    }
                },

                //计算属性默认只有 getter，不过在需要时你也可以提供一个 setter：
                //计算属性缓存，计算属性将基于它们的响应依赖关系缓存，计算属性只会在相关响应式依赖发生改变时重新求值
                //此处，侦听属性，只有 firstName 或者 lastName 发生改变时，才会更新
                fullName: {
                    // getter
                    get() {
                        console.log("计算属性 get() this.fullName "+this.fullName);
                        console.log("计算属性 get() this.firstName "+this.firstName);
                        console.log("计算属性 get() this.lastName "+this.lastName);
                        return this.firstName + ' - ' + this.lastName
                    },
                    // setter
                    set(newValue) {
                        const names = newValue.split(' ')
                        console.log("计算属性 set(newValue) before this.fullName ");
                        console.log("计算属性 set(newValue) before this.firstName ");
                        console.log("计算属性 set(newValue) before this.lastName ");
                        this.firstName = names[0]
                        this.lastName = names[names.length - 1]
                        //console.log("计算属性 set(newValue) this.fullName "+this.fullName);
                        console.log("计算属性 set(newValue) this.firstName "+this.firstName);
                        console.log("计算属性 set(newValue) this.lastName "+this.lastName);
                    }
                }
            },

        };

        const app = Vue.createApp(App);
        const vm = app.mount("#app");

        //console.log(vm.author.name);
        //console.log(vm.author.books);
        //vm.fullName = 'John Doe';
        console.log("vm.fullName : "+vm.fullName);
        console.log("vm.firstName : "+vm.firstName);
        console.log("vm.lastName : "+vm.lastName);
        console.log(vm);
    </script>
</body>

</html>