<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>列表渲染</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/vue@next"></script>
    <style type="text/css">
        .demo {
            font-family: sans-serif;
            border: 1px solid rgb(34, 145, 130);
            border-radius: 2px;
            padding: 20px 30px;
            margin-top: 1em;
            margin-bottom: 40px;
            user-select: none;
            overflow-x: auto;
        }

        .text-1 {
            color: sienna;
            /* margin-left:10px */
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 我们可以用 v-for 指令基于一个数组来渲染一个列表。v-for 指令需要使用 item in items 形式的特殊语法，
                其中 items 是源数据数组，而 item 则是被迭代的数组元素的别名。 

                在 v-for 块中，我们可以访问所有父作用域的 property。v-for 还支持一个可选的第二个参数，即当前项的索引。

                你也可以用 of 替代 in 作为分隔符，因为它更接近 JavaScript 迭代器的语法
        -->
        <div class="demo">
            <ol>
                <!-- <li v-for="(item, index) in messageArray" :key="index"> -->
                <!-- 使用v-for 的时候，需要绑定一个key属性 
                TODO:    https://zhuanlan.zhihu.com/p/94415002-->
                <li v-for="(item,key,index) of messageArray" :key="item.id">
                    parentMessage:{{ parentMessage }} - index:{{index}} - key:{{key}} - item:{{item}} -
                    item.message:{{item.message}}
                </li>
            </ol>
            <button @click="push">push</button><br>
            <button @click="pop">pop</button><br>
            <button @click="filter">filter</button><br>
            <!-- <button @click="sort">sort</button><br> -->
        </div>

        <div class="demo text-1">
            <h3>为什么使用v-for 的时候,需要绑定一个key属性?</h3>
            <div>
                <input type="text" v-model="name">
                <button @click="add">添加</button>
            </div>
            <h5>case1:不使用label标签绑定checkbox,且不绑定 :key 属性</h5>
            <ul>
                <li v-for="(item, i) in list">
                    <input type="checkbox"> {{item.name}}
                </li>
            </ul>

            <h5>case2:不使用label标签绑定checkbox,但是绑定 :key 属性</h5>
            <ul>
                <li v-for="(item, i) in list" :key="item.id">
                    <input type="checkbox"> {{item.name}}
                </li>
            </ul>

            <h5>case3:使用lable的for属性绑定checkbox的id属性</h5>
            <ul>
                <li v-for="(item, i) in list" >
                    <input type="checkbox" :id="item.id" :value="item.name" v-model="checked" />
                    <!--属性 for element_id 规定lable与哪个表单元素绑定 
                    属性 form form_id 规定lable字段所属的一个或多个表单-->
                    <label :for="item.id">{{item.name}}</label>
                </li>
            </ul>

            <h5></h5>
            checked: {{checked}}

        </div>

        <!-- 也可以用 v-for 来遍历一个对象的 property。 -->
        <!-- v-for 
            如果传入一个参数，则指向被迭代的数组元素；
            如果传入两个参数，则 第一个参数指向数组元素，第二个指向键名 key  
            如果传入三个参数，则 第一个参数指向数组元素，第二个指向键名 key ，第三个作为索引 
        -->
        <div class="demo">
            <ul>
                <li v-for="(object, key, index) in myObject" :key="object">
                    index: {{ index }} --- key : {{ key }} --- object : {{ object }}
                </li>
            </ul>
        </div>


        <!-- 显示过滤/排序后的结果 -->
        <!-- 有时，我们想要显示一个数组经过过滤或排序后的版本，而不实际变更或重置原始数据。
            在这种情况下，可以创建一个计算属性，来返回过滤或排序后的数组。 -->
        <div class="demo">
            <ul>
                <li v-for="n in evenNumbers" :key="n">
                    {{ n }}
                </li>
            </ul>
        </div>

        <!-- 在计算属性不适用的情况下 (例如，在嵌套的 v-for 循环中) 你可以使用一个方法 -->
        <div class="demo">
            <ul v-for="numbers in numberSet">
                <li v-for="n in even(numbers)" :key="n">
                    {{ n }}
                </li>
            </ul>
        </div>

        <!-- v-for 也可以接受整数。在这种情况下，它会把模板重复对应次数。 -->
        <div id="range" class="demo">
            <span v-for="n in 10" :key="n">{{ n }}</span>
        </div>

        <!-- 类似于 v-if，你也可以利用带有 v-for 的 <template> 来循环渲染一段包含多个元素的内容。 -->
        <ul>
            <template v-for="item in messageArray" :key="item.message">
                <li>{{ item.message }}</li>
                <li class="divider" role="presentation"></li>
            </template>
        </ul>

        <!-- 不推荐在同一元素上使用 v-if 和 v-for -->
        <div class="demo">
            <!-- 当它们处于同一节点，v-if 的优先级比 v-for 更高，这意味着 v-if 将没有权限访问 v-for 里的变量 
                此处报错：Property "todo" was accessed during render but is not defined on instance. 
            -->
            <!-- <li v-for="todo in todos" v-if="!todo.isComplete">
                {{ todo.name }}
            </li> -->

            <!-- 可以把 v-for 移动到 <template> 标签中来修正 -->
            <template v-for="todo in todos" :key="todo.text">
                <li v-if="!todo.isComplete">
                    {{ todo.text }}
                </li>
            </template>
        </div>

        <!-- TODO: 组件学习完后待做-->
        <!-- 在组件上使用 v-for  -->




    </div>






    <script>
        const App = {
            data() {
                return {
                    parentMessage: 'Parent',
                    messageArray: [{ id: 1, message: 'Foo' }, { id: 2, message: 'Bar' }],
                    myObject: {
                        title: 'How to do lists in Vue',
                        author: 'Jane Doe',
                        publishedAt: '2016-04-10'
                    },
                    numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                    numberSet: [[1, 2, 3, 4, 5], [6, 7, 8, 9]],
                    todos: [
                        { text: 'Learn JavaScript' },
                        { text: 'Learn Vue' },
                        { text: 'Build something awesome' }
                    ],
                    list: [
                        { id: 1, name: '李斯' },
                        { id: 2, name: '吕不韦' },
                        { id: 3, name: '嬴政' }
                    ],
                    checked:[],
                }
            },
            methods: {
                /**
                 * Vue 将被侦听的数组的变更方法进行了包裹，所以它们也将会触发视图更新。这些被包裹过的方法包括：
                    push()  向数组的末尾添加一个或更多元素，并返回新的长度。
                    pop()  删除数组的最后一个元素并返回删除的元素。
                    shift()  删除并返回数组的第一个元素。
                    unshift()  向数组的开头添加一个或更多元素，并返回新的长度。
                    splice()  从数组中添加或删除元素。
                    sort() 对数组的元素进行排序。
                    reverse()  反转数组的元素顺序。
                    filter()  检测数值元素，并返回符合条件所有元素的数组。

                    https://www.runoob.com/jsref/jsref-obj-array.html
                 */
                push() {
                    this.messageArray.push({ message: 'Foo' });
                    this.messageArray.push({ message: 'Bar' });
                    this.messageArray.push({ message: 'Baz' });
                    this.messageArray.push({ message: 'Qux' });
                },
                pop() {
                    this.messageArray.pop();
                },
                filter() {
                    this.messageArray = this.messageArray.filter(item => item.message.match(/Foo/));
                },
                // 未生效
                sort() {
                    this.messageArray = this.messageArray.sort();
                },

                even(numbers) {
                    return numbers.filter(number => number % 2 === 0)
                },
                add() {
                    let newId = this.list.length;
                    //注意这里是unshift，向数组的开头添加一个或更多元素，并返回新的长度
                    this.list.unshift({ id: newId, name: this.name });
                    this.name = '';
                }
            },
            computed: {
                evenNumbers() {
                    return this.numbers.filter(number => number % 2 === 0);
                }
            },
            watch: {

            },
            mounted() {

            },

        }
        const app = Vue.createApp(App);
        const vm = app.mount("#app");
    </script>
</body>

</html>